.container {
  text-align: center;
  margin-top: 10px;
}

#information-container {
  padding-bottom: 20px;
  & h1 {
    font-size: 40px;
  }
}

#painting-container {
  display: flex;
  justify-content: space-around;
  align-items: top;
  border-radius: 5px;
  padding: 10px;
}

#painting-text {
  background-color: rgba(200,200,200,0.5);
  padding: 50px;
  align-items: center;
  border-radius: 4px;
  opacity: 0.5;
  width: 400px;
  text-align: left;
}

#booking-form {
  display: flex;
  width: 600px;
  height: 400px;
  background-color: rgba(200, 200, 200, 0.2);
  margin: 10px;
  padding: 40px;
  border-radius: 4px;
  text-align: left;
  align-items: center;
  justify-content: left;
  opacity: 0.8;
}

#new_booking {
  width: 100%;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #FF5A5F;;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

#caption {
  background-color: $white;
  padding: 20px;
  margin-top:10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.banner h1{
  font-size: 40px;
}

#container-cards-map {
  display: flex;
  top: 0;
}

.container-cards h4 {
  text-align: center;
}

.container-map {
  flex: 0 0 600px;
  height: 100vh;
  position: sticky !important;
  top: 80px !important;
  margin-right: 10px;
  margin-top: 77px;
  border: 2px solid rgba(150, 150, 150, 0.3);
}

#container-search {
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  padding-left: 20px;
  padding-bottom: 20px;
  position: sticky !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-inline {
  text-align: center;
}




// @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,700');
// @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
// .snip1583 {
//   font-family: 'Fira Sans Extra Condensed', Arial, sans-serif;
//   position: relative;
//   display: inline-block;
//   overflow: hidden;
//   margin: 10px;
//   width: 100%;
//   font-size: 16px;
//   background-color: #fff;
//   color: #111;
//   line-height: 1.2em;
//   text-align: left;
// }

// .snip1583 *,
// .snip1583 *:before,
// .snip1583 *:after {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   -webkit-transition: all 0.35s ease;
//   transition: all 0.35s ease;
// }

// .snip1583 img {
//   max-width: 100%;
//   vertical-align: top;
// }

// .snip1583 figcaption {
//   padding: 10px;
//   width: 600px;
// }

// .snip1583 h3 {
//   font-size: 1.4rem;
//   font-weight: 400;
//   margin: 0 0 4px;
// }

// .snip1583 .price {
//   margin: 8px 0;
//   font-weight: 700;
//   color: #4da3e2;
//   font-size: 1.5rem;
// }


// .snip1583:hover a,
// .snip1583.hover a {
//   opacity: 1;
//   -webkit-transform: translateX(0);
//   transform: translateX(0);
// }

// .snip1583:hover a:nth-child(2),
// .snip1583.hover a:nth-child(2) {
//   -webkit-transition-delay: 0.1s;
//   transition-delay: 0.1s;
// }

// .snip1583:hover a:nth-child(3),
// .snip1583.hover a:nth-child(3) {
//   -webkit-transition-delay: 0.2s;
//   transition-delay: 0.2s;
// }

