<br>
<br>
<br>
<br>
<div class="container">
  <h4><%= @paintings.length %> Paintings for you</h4>
  <div class="row">
    <% @paintings.each do |painting| %>
      <%= render 'shared/painting_card', painting: painting %>
    <% end %>
  </div>
</div>
