#container-cards-map {
  // top: 0;
  display: flex;
  width: 100vw;
}

.container-cards h4 {
  text-align: center;
}

.container-cards {
  margin-left: 50px;
  // text-align: justify;
  // text-align: center;
}



.container-cards {
  width: 50%;
}

.container-map {
  margin-top: 30px;
}

#map {
  position: sticky !important;
  top: 75px !important;
  width: 50%;
  height: 100vh;
  border: 2px solid rgba(150, 150, 150, 0.3);
  // flex: 0 0 500px;
}

#container-search {
  border-bottom: 2px solid rgba(150, 150, 150, 0.3);
  padding-left: 20px;
  padding-bottom: 20px;
  position: sticky !important;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
}

.form-inline {
  text-align: center;
}

#painting-no {
  text-align: center;
  margin-top: 10px;
}
