
<div>
  <form class="form-inline">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Location">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="dd/mm/yyyy">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="dd/mm/yyyy">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Style", collection: Painting::STYLES, input_html:{class: 'select2'}>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Author">
    <button type="submit" class="btn-list">Submit</button>
  </form>
</div>


<div class="form">
  <form novalidate="novalidate" class="form-inline paintings" action="/paintings" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
    <div class="form-group paintings_location">
      <label class="form-control-label" for="paintings_location">Where do you live ? <abbr title="required">*</abbr></label>
      <input class="form-control" placeholder="Type your address" type="text" name="paintings[location]" id="paintings_location">
    </div>
    <div class="form-group paintings_start_date">
      <label class="form-control-label" for="paintings_start_date">Booking starting date <abbr title="required">*</abbr></label>
      <input class="form-control" placeholder="dd/mm/yyyy" type="text" name="paintings[start_date]" id="paintings_start_date">
    </div>
    <div class="form-group paintings_end_date">
      <label class="form-control-label" for="paintings_end_date">Booking ending date <abbr title="required">*</abbr></label>
      <input class="form-control" placeholder="dd/mm/yyyy" type="text" name="paintings[end_date]" id="paintings_end_date">
    </div>
    <div class="form-group paintings_style">
      <label class="form-control-label" for="paintings_style">What style of painting are you looking for ? <abbr title="required">*</abbr></label>
      <input class="form-control" placeholder="Painterly" type="text" name="paintings[style]" id="paintings_style">
    </div>
    <div class="form-group paintings_author">
      <label class="form-control-label" for="paintings_author">Which author ? <abbr title="required">*</abbr></label>
      <input class="form-control select2" placeholder="Picasso" collection= "Painting::STYLES" type="text" name="paintings[author]" id="paintings_author">
    </div>
    <input type="submit" name="commit" value="Search" class="btn-medium" data-disable-with="Search">
  </form>
</div>
