
<div>
  <form class="form-inline">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Location">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="dd/mm/yyyy">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="dd/mm/yyyy">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Style", collection: Painting::STYLES, input_html:{class: 'select2'}>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Author">
    <button type="submit" class="btn-list">Submit</button>
  </form>
</div>


