

<div>
  <h5>Not what you are looking for ?  Try again </h5>
</div>

<div class="form-inline">
  <form class="form-inline paintings" action="/paintings" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
    <div class="form-group paintings_location">
      <input class="form-control" placeholder="Type your address" type="text" name="paintings[location]" id="paintings_location">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="dd/mm/yyyy" type="text" name="paintings[start_date]" id="paintings_start_date">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="dd/mm/yyyy" type="text" name="paintings[end_date]" id="paintings_end_date">
    </div>
    <div class="form-group">
      <select class="form-control" placeholder="Choose in the list" name="paintings[style]" id="paintings_style"><option value=""></option>
        <option value="Abstract">Abstract</option>
        <option value="Abstraction">Abstraction</option>
        <option value="Expressionism">Expressionism</option>
        <option value="Impressionism">Impressionism</option>
        <option value="Modernism">Modernism</option>
        <option value="Painterly">Painterly</option>
        <option value="Photorealism">Photorealism</option>
        <option value="Realism">Realism</option>
      </select>

    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Picasso"  type="text" name="paintings[author]" id="paintings_author">
    </div>
    <input type="submit" name="commit" value="Search" class="btn-list" data-disable-with="Search">
  </form>
</div>




      <!-- <input class="form-control select2" placeholder="Painterly" collection="Painting::STYLES" type="text" name="paintings[style]" id="paintings_style"> -->

<!-- novalidate="novalidate"  -->
