<div class="banner">
  <div class="container" id="flex-box">
    <%= render 'searchbar' %>
   <div>
     <h1>Find the perfect painting <strong>for your place</strong> !</h1>
     <p>Update your walls </p>
   </div>
  </div>
</div>
